name: publish-npm
on:
  push:
    branches:
      - main
      - v0.0.x

# These permissions are needed to assume roles from Github's OIDC.
permissions:
  contents: read
  id-token: write

jobs:
  publish:
    name: Publish to NPM Package Registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: main
          persist-credentials: false
      # limit releases to version changes - https://github.com/EndBug/version-check
      # EndBug/version-check@v1 as of Oct 8, 2020
      - name: Check version changes
        uses: EndBug/version-check@75936fdb6cc2b3d6a95c4283dd534402f74b0347
        id: version_check
        with:
          # diff the commits rather than commit message for version changes
          diff-search: true

      - name: Version update detected
        if: steps.version_check.outputs.changed == 'true'
        env:
          VERSION: ${{ steps.version_check.outputs.version }}
          TYPE: ${{ steps.version_check.outputs.type }}
        run: |
          echo "Version change found! New version: $VERSION ($TYPE)"

      - name: Setup .npmrc file for NPM registry
        if: steps.version_check.outputs.changed == 'true'
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          scope: '@grafana'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies # use npm@latest for Trusted Publishing
        if: steps.version_check.outputs.changed == 'true'
        run: npm install -g npm@latest && npm install --ignore-scripts

      - name: Build library
        if: steps.version_check.outputs.changed == 'true'
        run: npm run build

      - name: Publish package to NPM
        if: steps.version_check.outputs.changed == 'true'
        run: npm publish ./dist --access public
